@use "../common/variables" as *;

.btn__wrapper {
	height: 100%;
}
.btn {
	min-height: $button__height;
	background-color: $button__color;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $color__bright;
	border-radius: $button__radius;
	padding: 0 40px;
	line-height: 0px;
	font-weight: 700;
	transition: all 0.3s ease-in-out 0s;
	&:hover {
		background-color: $color__text;
		color: $color__bright;
	}

	&--white {
		background-color: $color__bright;
		color: $color__dark;
		&:hover {
			background-color: $color__text;
			color: $color__bright;
		}
	}
}
