@use "../common/variables" as *;
@use "../common/media" as *;

footer.site-footer {
	background-color: $color__footerBg;
	color: $color__grey;
	padding: 54px 0 32px;
}

.site-footer__inner {
	display: grid;
	grid-template-columns: 1fr 1.8fr;
	gap: 105px;

	@include media("<desktop") {
		gap: 50px;
	}

	@include media("<tablet") {
		grid-template-columns: 1fr;
	}
}

.site-footer__left-logo {
	margin-bottom: 72px;

	@include media("<phone") {
		margin-bottom: 50px;
	}
	svg {
		width: 370px;
		height: auto;

		@include media("<phone") {
			width: 100%;
			height: 75px;
		}
		path {
			fill: $color__grey;
		}
	}
}

.site-footer__left-info-content {
	margin-bottom: 72px;
	line-height: 30px;
	font-weight: 300;

	@include media("<phone") {
		margin-bottom: 50px;
	}
}

.site-footer__right-menus {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;

	@include media("<phone") {
		grid-template-columns: 1fr 1fr;

		column-gap: 30px;
		row-gap: 30px;
	}

	.site-footer__right-menu {
		padding-top: 25px;
		border-top: 1px solid $color__grey;

		@include media("<phone") {
			&:last-of-type {
				border-top: none;
				grid-column: span 2;
			}
		}

		h4 {
			font-size: 21px;
			letter-spacing: 1px;
			line-height: 1;
			margin-bottom: 24px;
			font-style: italic;
		}

		p,
		a,
		li {
			font-size: 15px;
			font-weight: 300;
			line-height: 1;
		}

		li {
			list-style: none;
			margin-bottom: 8px;
		}

		.footer-address-content {
			margin-bottom: 10px;
		}
		a {
			display: inline-block;

			&:hover {
				text-decoration: underline;
				text-decoration-thickness: 0.5px;
				text-decoration-color: $color__grey;
			}
		}
	}
}

.site-footer__right {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	.site-footer__right-social-nav {
		display: flex;
		align-items: center;
		gap: 20px;

		@include media("<tablet") {
			margin-top: 55px;
		}
		p,
		span {
			font-size: 13px;
			font-weight: 300;
			line-height: 1;
			text-transform: uppercase;
		}
		ul {
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				list-style: none;
				a {
					font-size: 13px;
					font-weight: 300;
					line-height: 1;
					text-transform: uppercase;

					&:hover {
						text-decoration: underline;
						text-decoration-thickness: 0.5px;
						text-decoration-color: $color__grey;
					}
				}
			}
		}
	}
}
