/**
  * Variables
  * Contains re-usable variables like colors, sizes, etc.
  * Breakpoints for the media() mixin live in common/_media.scss.
  *
  *
  */
/*==================================================================================
  FONT
==================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$text__fontname: "Raleway", sans-serif; // Normal 400, Medium 500, Bold 700
$header__fontname:
	"Cormorant Garamond", serif; // Normal 400, Medium 500, Bold 700

/*==================================================================================
  COLORS
==================================================================================*/

/* from customiser root -> see function-customiser.php
/––––––––––––––––––––––––*/
$color__main: var(--main_color);
$color__text: var(--text_color);
$color__link: var(--link_color);
$color__link-hover: var(--link_color_hover);
$color__footerBg: var(--footer-color);
$color__soft-white: #faf9f9;
$color__soft-blue: #50617a;
$color__grey: #ecebeb;
$color__darkest-blue: #263143;
$color__bright: #ffffff;
$color__dark: #000;

$colors:
	(dark-blue, $color__text), (white, $color__bright),
	(Soft-white, $color__soft-white), (orange, $color__main),
	(darkest-blue, $color__darkest-blue), (soft-blue, $color__soft-blue),
	(grey, $color__grey);

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}

/*==================================================================================
  BUTTONS
==================================================================================*/

$button__color: $color__main;
$button__height: 48px;
$button__radius: 40px;

/*==================================================================================
  TYPOGRAPHY
==================================================================================*/

$text__h1: var(--text-h1);
$text__h2: var(--text-h2);
$text__h3: var(--text-h3);
$text__h4: var(--text-h4);
$text__h5: var(--text-h5);
$text__h6: var(--text-h6);
$text__p: var(--text-p);

$font__weight: 400; //This is the global font-weight for text, link etc.. Specify header weight separetelly

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
