@use "../common/variables" as *;
@use "../common/media" as *;

.hero-block {
	color: $color__soft-white;
	&__wrapper {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		padding-bottom: 70px;
		padding-top: 54px;
	}

	&__video-wrapper {
		@extend %cover;
	}

	&__video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__image-wrapper {
		@extend %cover;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		max-width: 65vw;
		@include media("<tablet") {
			max-width: 70vw;
		}

		@include media("<phone-land") {
			max-width: 100%;
		}
	}

	&__subtitle {
		max-width: 38vw;
		@include media("<tablet") {
			max-width: 70vw;
		}

		@include media("<phone-land") {
			max-width: 100%;
		}
	}

	&__overlay {
		@extend %cover;
		background-color: $color__dark;
		z-index: 0;
	}

	&__content {
		z-index: 3;
		position: relative;
	}

	&__content-inner {
		max-width: 1200px;
	}

	&__button {
		margin-top: 36px;
	}

	&__subtitle {
		margin-top: 20px;
		line-height: 26px;
		font-weight: 400;
	}
}

.sectors-main {
	.hero-block {
		.hero-block__overlay {
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.45) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}
}
