@use "../common/variables" as *;
@use "../common/media" as *;

.fd-cards-grid-block {
	&__title {
		font-family: $header__fontname;
		margin-bottom: 52px;
		text-align: center;
	}

	&--text-white &__title {
		color: $color__soft-white;
	}

	&--text-dark &__title {
		color: $color__text;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 58px;
		row-gap: 58px;

		@include media("<tablet") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<phone") {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__card {
		background-color: $color__darkest-blue;
	}

	&__card-image {
		aspect-ratio: 16 / 10;
		position: relative;
		overflow: hidden;

		img {
			@extend %cover;
			object-fit: cover;
		}
	}

	&__card-body {
		padding: 37px 40px 50px 24px;
		color: $color__soft-white;
	}

	&__card-title {
		font-family: $header__fontname;
		margin-bottom: 18px;
	}

	&__card-content {
		line-height: 26px;
	}
}
