@use "../common/variables" as *;
@use "../common/media" as *;

.fd-history-slider-block {
	color: $color__soft-white;

	&__wrapper {
		overflow: hidden;
	}

	&__title {
		font-family: $header__fontname;
		margin-bottom: 2rem;
		text-align: center;
	}

	&__slider {
		/* Swiper container – init with JS when ready */
	}

	.swiper-slide {
		/* Swiper default slide – inner content styled below */
	}

	&__year {
		font-family: $header__fontname;
		font-size: $text__h3;
		margin-bottom: 1rem;
		opacity: 0.9;
	}

	&__image {
		aspect-ratio: 16 / 10;
		position: relative;
		overflow: hidden;
		margin-bottom: 1rem;
		border-radius: 4px;

		img {
			@extend %cover;
			object-fit: cover;
		}
	}

	&__content {
		line-height: 1.6;
	}
}
