@use "../common/variables" as *;
@use "../common/media" as *;

.fd-testimonial-block {
	&--text-white &__testimonial,
	&--text-white &__author,
	&--text-white &__title {
		color: $color__soft-white;
	}

	&--text-dark &__testimonial,
	&--text-dark &__author,
	&--text-dark &__title {
		color: $color__text;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1.55fr 1fr;
		gap: 157px;
		align-items: stretch;
		min-height: 460px;

		@include media("<desktop") {
			gap: 100px;
		}

		@include media("<tablet") {
			grid-template-columns: 1fr;
			min-height: auto;
			gap: 50px;
		}
	}

	&__slider-col {
		display: flex;
		flex-direction: column;
		min-width: 0;
		overflow: hidden;
	}

	&__title {
		font-family: $header__fontname;
		margin-bottom: 63px;

		@include media("<tablet") {
			margin-bottom: 40px;
		}
		@include media("<phone") {
			margin-bottom: 32px;
		}
	}

	&__slider {
		flex: 1;
		min-height: 0;
		width: 100%;
	}

	&__slide {
		height: 100%;
		padding: 0;
	}

	&__author {
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 84px;
	}

	&__testimonial {
		position: relative;
		padding-left: 25px;
	}

	&__quote {
		font-family: $header__fontname;
		font-size: 58px;
		line-height: 1;
		color: $color__main;
		margin-right: 4px;
		position: absolute;
		&--start {
			left: 0;
			top: -10px;
		}
	}

	&__testimonial {
		font-size: 18px;
		line-height: 26px;
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-top: 32px;
	}

	&__prev,
	&__next {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		padding: 4px;
		opacity: 0.7;
		transition: opacity 0.2s;
		flex-shrink: 0;
		color: $color__soft-white;

		svg {
			width: 30px;
			height: 30px;
		}

		&:hover {
			opacity: 1;
		}

		&.swiper-button-disabled {
			opacity: 0.3;
			cursor: default;
		}
	}

	&__pagination {
		display: flex;
		gap: 6px;

		.swiper-pagination-bullet {
			width: 24px;
			height: 3px;
			border-radius: 2px;
			background: rgba($color__grey, 0.4);
			opacity: 1;
			transition: background 0.2s;

			&-active {
				background: $color__soft-white;
			}
		}
	}

	&__image-col {
		display: flex;
		align-items: stretch;
		min-height: 0;

		@include media("<desktop") {
			min-height: 300px;
		}

		@include media("<tablet") {
			display: none;
		}
	}

	&__image {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
}
